<%= render 'design' %>

<h1 id = "listing">Listing posts</h1>
<%= link_to 'New post', new_post_path %>
<table id = "gamePost">
  <tr>
    <th>Title</th>
    <th>Game Title</th>
    <th>Game Username</th>
    <th>Text</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.title_of_the_game %></td>
      <td><%= post.game_username %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', 
                               post_path(post),
                               method: :delete,
                               data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>