<%= render 'design' %>
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
  <h1 id = "listing">Listing posts</h1>



<%= link_to 'New post', new_post_path %>
<!--<%= button_to "New post", new_post_path, :class => "button", :method => :get, id: 'button' %>-->
<div class = tableContainer>
<table id = "gamePost">
  <tr>
    <th>Title</th>
    <th>Game Title</th>
    <th>Game Username</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      
      <td id = "tableCell"><%= link_to post.title, post_path(post) %></td>
      <td id = "tableCell"><%= post.title_of_the_game %></td>
      <td id = "tableCell"><%= link_to post.text, post_path(post) %></td>
      <!-- <td><%= link_to 'Show', post_path(post), id: "action" %></td> -->
      <% if current_user %>
      <% if (current_user.id.to_s.strip == post.poster_id.to_s.strip) %>
      <td><%= link_to 'Edit', edit_post_path(post), id: "action" %></td>
      <td><%= link_to 'Delete', 
                               post_path(post),
                               :confirm => 'Are you sure?',
                               method: :delete,
                               data: { confirm: 'Are you sure?' } ,id: "action"  %></td>
      <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
</div>