<%= render 'design' %>
<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
  <h1 id = "listing">Listing posts</h1>



<!--<%= link_to 'New post', new_post_path %>-->
<%= button_to "New post", new_post_path, :class => "button", :method => :get, id: 'button' %>
<div class = tableContainer>
<table id = "gamePost">
  <tr>
    <th>Title</th>
    <th>Game Title</th>
    <th>Game Username</th>
    <th>Text</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      
      <td id = "tableCell"><%= post.title %></td>
      <td id = "tableCell"><%= post.title_of_the_game %></td>
      <td id = "tableCell"><%= post.game_username %></td>
      <td id = "tableCell"><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post), id: "action" %></td>
      <td><%= link_to 'Edit', edit_post_path(post), id: "action" %></td>
      <td><%= link_to 'Delete', 
                               post_path(post),
                               :confirm => 'Are you sure?',
                               method: :delete,
                               data: { confirm: 'Are you sure?' } ,id: "action"  %></td>
    </tr>
  <% end %>
</table>
</div>