<%= render 'design' %>

<div class = "postContainer" id = "commentbox">
    
<div class = "divider" id = "postContainer1">
    <div class = "divider" id = "titleContainer">       
<h3 id = "postTitle"><%= @post.title %></h3>
</div>
<p>
    <strong>Title:</strong>
    <%= @post.title %>
</p>

<p>
    <strong>Game Title:</strong>
    <%= @post.title_of_the_game %>
</p>

<p>
    <strong>Username:</strong>
    <%= @post.poster_name %>
</p>

<% if current_user %>
    <% if (current_user.id.to_s.strip == @post.poster_id.to_s.strip) %>
        <p>
            <strong>Game Username:</strong>
            <%= @post.game_username %>
        </p>
    <% else %>
        <p>Only Topic poster can see Game Usernames</p>
    <% end %>
<% else %>
<p>Only Topic poster can see Game Usernames</p>
<% end %>

    <br>
    <br>
<p>
    
    <%= @post.text %>
</p>
</div>

    <br>
    <br>
    <br>
    <br>
    
<div class = "divider">
    <div class = "divider" id = "titleContainer">      
<h2>Comments</h2>
</div>
<% @post.comments.each do |comment| %>
    <% if current_user %>
        <% if (current_user.id.to_s.strip == @post.poster_id.to_s.strip) %>
        <p>
            <strong>Game Username:</strong>
            <%= comment.game_username %>
        </p>
        <% else %>
       <p> Only Topic poster can see Game Usernames</p>
        <% end %>
    <% else %>
    <p>Only Topic poster can see Game Usernames</p>
    <% end %>
    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>
    <p>
        <strong>Date:</strong>
        <%= comment.date %>
    </p>
    <br>
    <br>
<% end %>
</div>


    <br>
    <br>
    <br>
<div class = "divider">
    <div class = "divider" id = "titleContainer">     
<h2>Add a comment</h2>
</div>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :game_username %> <br>
        <%= f.text_field :game_username %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    
    <p>
        <br>
        <%= f.button :submit => "", class: "submit" %>
    </p>
<% end %>
</div>


</div>
<%= link_to 'Post List', posts_path %>
