<%= render 'design' %>
<div class = "postContainer" id = "commentbox">

<p>
    <strong>Title:</strong>
    <%= @post.title %>
</p>

<p>
    <strong>Game Title:</strong>
    <%= @post.title_of_the_game %>
</p>

<p>
    <strong>Username:</strong>
    <%= @post.poster_name %>
</p>

<p>
    <strong>Game Username:</strong>
    <%= @post.game_username %>
</p>

<p>
    <strong>Text:</strong>
    <%= @post.text %>
</p>
    <br>
    <br>
    <br>
    <br>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </p>
    <p>
        <strong>Game Username:</strong>
        <%= comment.game_username %>
    </p>
    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>
<% end %>
    <br>
    <br>
    <br>

<h2>Add a comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :commenter %> <br>
        <%= current_user.name %>
    </p>
    <p>
        <%= f.label :game_username %> <br>
        <%= f.text_field :game_username %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.button :submit => "", class: "submit" %>
    </p>
<% end %>
</div>
<%= link_to 'Post List', posts_path %>
